@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@400;500&display=swap");

body {
  font-family: $roboto;
  background-color: $white--dirty;
}

h1 {
  color: $blackish;
  font-size: toRem(26);
  font-family: $montserrat;
  font-weight: 700;
  line-height: toRem(40);
}

h2 {
  font-family: $montserrat;
  font-weight: 600;
  font-size: toRem(14);
  color: $blackish;
}
