.button {
  width: toRem(95);
  height: toRem(30);
  border-radius: toRem(10);
  background: $emerald;
  border: none;
  font-family: $montserrat;
  font-weight: 600;
  font-size: toRem(12);
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--inactive {
    background-color: $gray--inactive;
  }
}
