.search {
  width: 100%;
  display: flex;
  position: relative;
  font-size: toRem(14);
  margin-bottom: toRem(30);

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: toRem(13);
    margin: auto 0;
  }

  &__input {
    height: toRem(45);
    width: 100%;
    border-radius: toRem(15);
    border: 1px solid $gray--light;
    padding-left: toRem(37);
    padding-right: toRem(82);

    &::placeholder {
      color: $gray--placeholder;
    }
  }

  &__count {
    position: absolute;
    right: toRem(17);
    top: 0;
    bottom: 0;
    margin: auto 0;
    white-space: nowrap;
    height: min-content;
    color: $gray--placeholder;
  }
}
