// .cell {
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   padding-right: 10px;
// }

// .tests-list__header {
//   width: 100%;
//   display: grid;
//   grid-template-columns: 40% 1fr 1fr 20% 1fr;
//   align-items: center;
//   padding: 15px 12px;
// }

// .tests-list {
//   padding-top: 30px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   gap: 10px;
// }

// .test {
//   width: 100%;
//   position: relative;
//   display: grid;
//   grid-template-columns: 40% 1fr 1fr 20% 1fr;
//   padding: 15px 12px;
//   background-color: white;
//   border-radius: 3px;
//   overflow: hidden;
//   align-items: center;

//   &__cell {
//     text-transform: lowercase;

//     &::first-letter {
//       text-transform: uppercase;
//     }
//   }
// }

.table {
  display: flex;
  min-width: toRem(750);
  flex-direction: column;
  gap: toRem(10);
  width: 100%;
  font-size: toRem(12);

  font-family: $roboto;
  color: $gray--table;

  &__heading {
    color: $gray--thead;
    font-size: toRem(11);
    display: grid;
    gap: toRem(10);
    grid-template-columns: 30% 1fr 1fr 1fr 1fr;
    padding: 0 toRem(12) 0 toRem(15);
    cursor: pointer;
  }

  &__heading-group {
    width: toRem(50);
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    gap: toRem(8);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: toRem(5);
  }

  &__icon {
    display: flex;
    align-items: center;
    transform: rotate(180deg);

    &--desc {
      transform: rotate(0);
    }
  }

  &__row {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr;
    padding: 0 toRem(12) 0 toRem(15);

    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    align-items: center;
    transition: box-shadow 300ms;

    &:hover {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &__coloring {
    position: absolute;
    background-color: red;
    width: toRem(4);
    height: 100%;
    left: 0;
    top: 0;

    &[data-site="1"] {
      background-color: $site-red;
    }

    &[data-site="2"] {
      background-color: $site-magenta;
    }

    &[data-site="3"] {
      background-color: $site-purple;
    }
  }

  &__cell {
    display: flex;
    overflow: hidden;
    height: toRem(70);
    align-items: center;

    &--status {
      font-weight: 500;
    }

    &--name {
      font-weight: 500;
      font-size: toRem(13);
    }

    &[data-status="ONLINE"] {
      color: $status-green;
    }
    &[data-status="PAUSED"] {
      color: $status-orange;
    }
    &[data-status="STOPPED"] {
      color: $status-red;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
