$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;

$white--dirty: #fafafa;
$blackish: #222;
$gray--light: #ebebeb;
$gray--dark: #474747;
$gray--placeholder: #d1d1d1;
$gray--inactive: #7d7d7d;
$gray--thead: #999;
$gray--table: #5c5c5c;
$emerald: #2ee5ac;
$status-green: #1bda9d;
$status-orange: #ff8346;
$status-red: #fe4848;

$site-red: #e14165;
$site-magenta: #c2c2ff;
$site-purple: #8686ff;
