$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;

$white--dirty: #fafafa;
$gray--light: #ebebeb;
$gray--blackish: #222;
$gray--dark: #474747;
$gray--placeholder: #d1d1d1;
$gray--inactive: #7d7d7d;
$gray--thead: #999;
$gray--table: #5c5c5c;
$emerald: #2ee5ac;
$status-green: #1bda9d;
$status-orange: #ff8346;
$status-red: #fe4848;
