@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto&display=swap");

.main {
  padding: 41px 52px 49px 48px;
  font-family: $roboto;
  background-color: $white--dirty;
}

.heading {
  color: $gray--blackish;
  font-size: 26px;
  font-family: $montserrat;
  font-weight: 700;
  padding-bottom: 40px;
}
