.cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}

.tests-list__header {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 1fr 1fr 20% 1fr;
  align-items: center;
  padding: 15px 12px;
}

.tests-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.test {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 40% 1fr 1fr 20% 1fr;
  padding: 15px 12px;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  align-items: center;

  &__coloring {
    position: absolute;
    background-color: red;
    width: 4px;
    height: 100%;
  }

  &__cell {
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.thead {
  &__wrapper {
    display: flex;
    gap: 8px;
    align-content: center;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    align-items: center;
    transform: rotate(180deg);

    &--desc {
      transform: rotate(0);
    }
  }
}

.table_container {
  max-width: 750px;
  /* max-height: 500px; */
  margin: 0 auto;
  overflow: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
}

caption {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 10px;
}

.table th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
  background: #fff;
}
